$table-border: 1px solid #b6afa8;

.dataflow-table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataflow-table-footer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: .5rem 1rem;
  width: calc(100% - 2rem);
}

.dataflow-table {
  border-right: $table-border;
  border-bottom: $table-border;

  & td, th {
    border-left: $table-border;
    border-top: $table-border;
    padding: .5rem
  }

  & th {
    &::after {
      right: .5rem;
      content: "▼";
      float: right;
      color: #b6afa8;
    }
  }

  & tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  & tr {
    background-color: white;
  }
}
