@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

$table-border: 1px solid #b6afa8;

.dataflow-table-actiontray {
  display: flex;
  flex-direction: row;
}

.dataflow-table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataflow-form-wrapper {
  display: flex;
  flex-direction: column;
}

.dataflow-form-header {
  display: flex;
  column-gap: 1em;
  padding: .5em;
}

.dataflow-form-body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataflow-form-content {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: fit-content;
  height: fit-content;
}

.dataflow-form-field {
  display: flex;
  justify-content: space-between;

  & > label {
    margin-right: 1em;
  }
}

.dataflow-form-footer {
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

.dataflow-table-header {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: .5rem 1rem;
  width: calc(100% - 2rem);
}

.dataflow-table-footer {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: .5rem 1rem;
  width: calc(100% - 2rem);
}

.dataflow-table {
  border-collapse: collapse;
  border: $table-border;

  & td, th {
    border: $table-border;
    padding: .5rem
  }

  & th {
    &::after {
      right: .5rem;
      content: "▼";
      float: right;
      color: #b6afa8;
    }
  }

  & tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);

    &.selected {
      background-color: blue;
      color: white;
    }
  }

  @media (prefers-color-scheme: dark) {
    & tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.075) !important;

      &.selected {
        background-color: lightsteelblue !important;
        color: black !important;
      }
    }
  }

  & tr {
    cursor: pointer;

    &.selected {
      background-color: blue;
      color: white;
    }

    @media (prefers-color-scheme: dark) {
      &.selected {
        background-color: lightsteelblue !important;
        color: black !important;
      }
    }
  }
}
