@use "const.scss";

.dataflow-table-filtertray {
    & select {
        width: 15em;
    }
    display: flex;
    column-gap: 1em;
}

.dataflow-table-searchbar {
    display: flex;
    justify-content: flex-end;
}

.dataflow-table-filler {
    justify-content: center !important;
    font-size: x-large;
}

.dataflow-table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dataflow-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: .5rem 1rem;
    width: calc(100% - 2rem);

    flex-wrap: wrap;
    row-gap: 1em;

    & > span, & > div, & > input {
        flex: 1 0 26%;
    }
}

.dataflow-table-content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 10em);
}

.dataflow-table-scrollable {
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
}

.dataflow-table-footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5rem 1rem;
    width: 100%;
}

.dataflow-table {
    max-width: 100%;
    border-collapse: collapse;
    border: const.$table-border;

    & td, th {
        border: const.$table-border;
        padding: .5rem
    }

    & tr {
        z-index: 999;
    }

    & tr > td > div {
        max-height: 1.3em;
        overflow: hidden;
        position: relative;
        color: transparent;

        &::after {
            content: attr(title);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            color: black;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            z-index: 0;
        }
    }

    & th {
        box-shadow: inset 10em 10em white;
    }

    & tbody {
        background-color: white;
    }

    & thead tr {
        position: sticky;
        top: 0;
    }

    & tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075);

        &.selected {
            background-color: blue;
            color: white;
        }
    }

    & tbody tr:hover {
        &.selected {
            background-color: rgba(lightskyblue, 0.5);
            color: black;
        }
    }

    & tr {
        cursor: pointer;

        &.selected {
            background-color: rgba(lightskyblue, 0.5);
            color: black;
        }
    }
}
