@use "const.scss";

.dataflow-table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dataflow-table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: .5rem 1rem;
    width: calc(100% - 2rem);
}

.dataflow-table-content {
    display: flex;
    align-items: center;
    height: calc(100% - 10em);
}

.dataflow-table-scrollable {
    max-height: 100%;
    overflow-y: auto;
}

.dataflow-table-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: .5rem 1rem;
    width: calc(100% - 2rem);
}

.dataflow-table {
    border-collapse: collapse;
    border: const.$table-border;

    & td, th {
        border: const.$table-border;
        padding: .5rem
    }

    & th {
        box-shadow: inset 10em 10em white;
    }

    & thead tr {
        position: sticky;
        top: 0;
    }

    & tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075);

        &.selected {
            background-color: blue;
            color: white;
        }
    }

    & tbody tr:hover {
        &.selected {
            background-color: lightskyblue;
            color: black;
        }
    }

    & tr {
        cursor: pointer;

        &.selected {
            background-color: blue;
            color: white;
        }

        &.selected {
            background-color: lightskyblue;
            color: black;
        }
    }
}
